@using ASP_NET_Core.Models

<h2>Home</h2>

@(Html.DevExtreme().FileManager()
        .ID("file-manager")
        .FileSystemProvider(provider => provider.Custom()
            .GetItems("getItems")
            .CreateDirectory("createDirectory")
            .RenameItem("renameItem")
            .DeleteItem("deleteItem")
            .CopyItem("copyItem")
            .MoveItem("moveItem")
            .UploadFileChunk("uploadFileChunk")
            .DownloadItems("downloadItems")
        )
        .Permissions(permissions =>
        {
            permissions.Download(true);
            // uncomment the code below to enable file/folder management
             permissions.Create(true);
             permissions.Copy(true);
             permissions.Move(true);
             permissions.Delete(true);
             permissions.Rename(true);
             permissions.Upload(true);
        })
        .Upload(upload => upload.MaxFileSize(600000))
        .AllowedFileExtensions(new string[0])
    )
<div id="request-panel"></div>
<script src="~/js/amazon.gateway.js"></script>
<script src="~/js/amazon.filesystem.js"></script>
<script type="text/javascript">

  baseUrl = `https://localhost:7128/api/AmazonS3`;
  amazon = new AmazonFileSystem(baseUrl);

function getItems(item) {
  return amazon.getItems(item.key);
}

function createDirectory(parentDirectory, name) {
  return amazon.createDirectory(parentDirectory.key, name);
}

function renameItem(item, name) {
  return amazon.renameItem(item.key, item.parentPath, name);
}

function deleteItem(item) {
  return amazon.deleteItem(item.key);
}

function copyItem(item, destinationDirectory) {
  return amazon.copyItem(item, destinationDirectory);
}

function moveItem(item, destinationDirectory) {
  return amazon.moveItem(item, destinationDirectory);
}

async function uploadFileChunk(fileData, uploadInfo, destinationDirectory) {
  await amazon.uploadFileChunk(fileData, uploadInfo, destinationDirectory);
}

function downloadItems(items) {
  return amazon.downloadItems(items);
}

    function onRequestExecuted(e) {
        $("<div>").addClass("request-info").append(
            createParameterInfoDiv("Method:", e.method),
            createParameterInfoDiv("Url path:", e.urlPath),
            createParameterInfoDiv("Query string:", e.queryString),
            $("<br>")
        )
            .prependTo("#request-panel");
    }

    function createParameterInfoDiv(name, value) {
        return $("<div>").addClass("parameter-info").append(
            $("<div>").addClass("parameter-name").text(name),
            $("<div>").addClass("parameter-value dx-theme-accent-as-text-color").text(value).attr("title", value)
        );
    }

</script>
